.blog{
    padding: 0 236px;
}
.blog .page-title{
    font-weight: 700;
    color: var(--dark-color);
    font-size: 2.75em;
    line-height: 1.363em;
    margin-bottom: 55px;
}
@media (max-width:991px) {
    .blog{
        padding: 0 100px;
    }
}
@media (max-width:575px) {
    .blog{
        padding: 0 20px;
    }
}