@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap');
:root{
    --primary-color: #FF6464;
    --secondary-color: #00A8CC;
    --dark-color: #21243D;
    --light-color: #8695A4;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
}